<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="30">
    <mat-card>
      <img mat-card-img [src]="generalImg" alt="general room img">
      <mat-card-title>
        General room
      </mat-card-title>
      <mat-card-content>
        Work in peace.
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card>
      <img mat-card-img [src]="lobbyImg" alt="lobby img">
      <mat-card-title>
        Lobby
      </mat-card-title>
      <mat-card-content>
        Free talk room
      </mat-card-content>
    </mat-card>
  </div>
</div>