<mat-card>
  <mat-card-title>title</mat-card-title>
  <mat-card-subtitle>subtitle</mat-card-subtitle>
  <mat-card-content class="orikaeshi">
    contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontenntentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent
  </mat-card-content>
  <mat-card-actions>action</mat-card-actions>
  <mat-card-footer>footer</mat-card-footer>
  test commment
</mat-card>

<mat-card>
  <mat-card-content class="orikaeshi">
    あいうえおあいうえおあいうえおあえいうおあえいうあえおいうあえおいうあえおいうあおいえふおいえおあいｆｊｓｆｊｄｋｌｆじゃｌｓｋｄｆじえおあｊふぇい；ｊ；ｄさｊｆ；ｌｓかｊｆ
  </mat-card-content>
  <mat-card-subtitle class="hidariyose">
    あいうえお @aiueo 2018:11:08:16:31
  </mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-content class="orikaeshi">
    あいうえおあいうえおあいうえおあえいうおあえいうあえおいうあえおいうあえおいうあおいえふおいえおあいｆｊｓｆｊｄｋｌｆじゃｌｓｋｄｆじえおあｊふぇい；ｊ；ｄさｊｆ；ｌｓかｊｆ
  </mat-card-content>
  <mat-card-subtitle class="hidariyose">
    あいうえお @aiueo 2018:11:08:16:31
  </mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-content class="orikaeshi">
    あいうえおあいうえおあいうえおあえいうおあえいうあえおいうあえおいうあえおいうあおいえふおいえおあいｆｊｓｆｊｄｋｌｆじゃｌｓｋｄｆじえおあｊふぇい；ｊ；ｄさｊｆ；ｌｓかｊｆ
  </mat-card-content>
  <mat-card-subtitle class="hidariyose">
    あいうえお @aiueo 2018:11:08:16:31
  </mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-content class="orikaeshi">
    あいうえおあいうえおあいうえおあえいうおあえいうあえおいうあえおいうあえおいうあおいえふおいえおあいｆｊｓｆｊｄｋｌｆじゃｌｓｋｄｆじえおあｊふぇい；ｊ；ｄさｊｆ；ｌｓかｊｆ
  </mat-card-content>
  <mat-card-subtitle class="hidariyose">
    あいうえお @aiueo 2018:11:08:16:31
  </mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-content class="orikaeshi">
    あいうえおあいうえおあいうえおあえいうおあえいうあえおいうあえおいうあえおいうあおいえふおいえおあいｆｊｓｆｊｄｋｌｆじゃｌｓｋｄｆじえおあｊふぇい；ｊ；ｄさｊｆ；ｌｓかｊｆ
  </mat-card-content>
  <mat-card-subtitle class="hidariyose">
    あいうえお @aiueo 2018:11:08:16:31
  </mat-card-subtitle>
</mat-card>
