<app-user-detail></app-user-detail>
<mat-tab-group>
  <mat-tab label="Posts">
    <app-user-post-index></app-user-post-index>
  </mat-tab>

  <mat-tab label="Likes">
    <app-user-like-index></app-user-like-index>
  </mat-tab>

  <mat-tab label="Follow">
    <app-user-follow-index></app-user-follow-index>
  </mat-tab>

  <mat-tab label="Follower">
    <app-user-follower-index></app-user-follower-index>
  </mat-tab>

  <mat-tab label="Sub room">

  </mat-tab>

  <mat-tab label="Event list">

  </mat-tab>
</mat-tab-group>
