<mat-card>
  <mat-card-title>Creating a new event</mat-card-title>
  <form [formGroup]="eventNewFormGroup" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Event name" formControlName="nameFormControl">
      <mat-error *ngIf="nameFormControl.errors && !nameFormControl.hasError('required')">
        Event name is 30 letters maximum.
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Event name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Start date" formControlName="startDateFormControl"
        (dateInput)="checkValidDate()">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Start time" name="Start time" formControlName="startTimeFormControl" (selectionChange)="checkValidDate()">
        <mat-option *ngFor="let time of times" [value]="time">
          {{time}}:00
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="End date" formControlName="endDateFormControl" (dateInput)="checkValidDate()">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="End time" name="End time" formControlName="endTimeFormControl" (selectionChange)="checkValidDate()">
        <mat-option *ngFor="let time of times" [value]="time">
          {{time}}:00
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="description" formControlName="descFormControl"></textarea>
      <mat-error *ngIf="descFormControl.errors && !descFormControl.hasError('required')">
        Description is 1000 letters maximum.
      </mat-error>
      <mat-error *ngIf="descFormControl.hasError('required')">
        Event desc is required.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!eventNewFormGroup.valid || !isDateValid">Create
      Event</button>
  </form>
</mat-card>