<mat-card>
  <mat-card-header>
    <mat-card-title>User Name</mat-card-title>
    <mat-card-subtitle>@Room Name</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="!!file" [src]="imgSrc" alt="Preview of your post image">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<input type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput()" />
<button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
  <mat-icon>image</mat-icon>
</button>

<p class="file-name" *ngIf="!file; else fileName">No file</p>
<ng-template #fileName>
  <p class="file-name">{{ file?.name }}</p>
</ng-template>

<mat-form-field>
  <textarea matInput placeholder="Post comment" [formControl]="postCommentFormControl"></textarea>
  <mat-error *ngIf="!postCommentFormControl.hasError('required') && postCommentFormControl.errors">
    Comment is 500 letters max.
  </mat-error>
</mat-form-field>

<button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!postCommentFormControl.valid">Post it</button>
