<mat-card>
  <mat-card-header (click)="onPostClicked()">
    <img mat-card-avatar *ngIf="(user | async)?.imgName" [src]="userImgUrl" alt="Preview of your user image">
    <img mat-card-avatar *ngIf="!(user | async)?.imgName" [src]="defaultAvatar" alt="Preview of your user image">
    <mat-card-title>
      <button mat-button routerLink='/users/{{(user | async)?.uid}}'>
        {{(user | async)?.name}}
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      <button mat-button routerLink='/rooms/{{(room | async)?.roomId}}'>
        @{{(room | async)?.roomName}}
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image (click)="onPostClicked()" *ngIf="!!internalPost?.postImgName" [src]="internalPost?.postImgUrl" alt="Preview of your post image">
  <mat-card-content (click)="onPostClicked()">
    <p>
      {{internalPost?.postContent}}
    </p>
    <app-tag-list [subjectId]="internalPost?.postId" [canEdit]="true" [subjectType]="'post'"></app-tag-list>
  </mat-card-content>
  <mat-card-actions>
    <app-like-button [postId]="internalPost?.postId"></app-like-button>
    <app-reply-button [post]="internalPost" [postId]="internalPost?.postId" [roomId]="internalPost?.postRoomId"></app-reply-button>
    <app-user-menu [userId]="internalPost?.postUId" [roomId]="internalPost?.postRoomId"></app-user-menu>
  </mat-card-actions>
</mat-card>
