<mat-card>
  <mat-card-header>
    <mat-card-title>Name: {{(user | async)?.name}}</mat-card-title>
    <mat-card-subtitle>@: {{(room | async)?.roomName}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="!!internalPost.postImgName" [src]="internalPost.postImgUrl" alt="Preview of your post image">
  <mat-card-content>
    <p>
      {{internalPost.postContent}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <app-like-button [postId]="internalPost.postId"></app-like-button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
