<form class="example-form" [formGroup]="userSignUpFormGroup" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password" formControlName="passwordFormControl">
    <mat-error *ngIf="passwordFormControl.errors && !passwordFormControl.hasError('required')">
      Password is 8 letters minimum.
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="User name" formControlName="nameFormControl">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      User name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!userSignUpFormGroup.valid">SignUp</button>

</form>
