<div fxLayout="row wrap">
  <div fxFlex="20" fxShow fxHide.md="true" fxHide.sm="true" fxHide.xs="true">
    <app-room-info [room]="(room | async)"></app-room-info>
    <app-room-event-new [room]="(room | async)"></app-room-event-new>
    <app-room-event-index [room]="(room | async)"></app-room-event-index>
  </div>
  <div fxFlex="60" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100">
    <section>
      <app-room-post-index></app-room-post-index>
    </section>
  </div>
  <div fxFlex="20" fxShow fxHide.sm="true" fxHide.xs="true">
    <app-room-chat></app-room-chat>
  </div>
</div>